
body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #0D0D0D;
    padding: 1em 2em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-img {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
}

.header__logo-text {
    color: white;
    font-size: 1.6em;
    font-weight: 700;
    text-transform: uppercase;
}

.header__navbar-list {
    display: flex;
    gap: 1.5em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__navbar-link {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s ease;
}

.header__navbar-link--active,
.header__navbar-link:hover {
    background-color: #0057FF;
    color: white;
    border-radius: 0.5em;
}

.header__btn {
    font-size: 1.2em;
    padding: 0.5em 1.5em;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header__btn--outline:hover {
    background-color: white;
    color: #161616;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5em 0 2em;
}

.best {
    flex: 1;
    margin-right: 2em;
}

.best__title {
    font-size: 2.5em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    text-align: left;
    text-transform: capitalize;
}

.best__text {
    font-size: 1.5em;
    line-height: 1.6;
}

.news {
    flex: 1;
}

.news__title {
    font-size: 2em;
    margin-bottom: 1em;
}

.news__list {
    list-style: none;
    padding: 0;
}

.news__item {
    margin-bottom: 1em;
}

.news__description {
    font-size: 1em;
    margin-left: 1em;
}

.code-section__block {
    background-color: #333;
    color: #00ff00;
    padding: 1.5em;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    white-space: pre-wrap;
    overflow-x: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.code-section__block code {
    line-height: 1.6;
    display: block;
    white-space: pre;
}


.footer {
    background-color: #0D0D0D;
    color: #FFFFFF;
    padding: 1.5em;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.footer__laws, .footer__disclaimer {
    flex: 1;
    font-size: 1em;
}


@media (max-width: 768px) {
    .header__navbar-list {
        flex-direction: column;
        gap: 15px;
    }

    .footer__content {
        flex-direction: column;
    }
}
